<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <!--li routerLinkActive="active"><a [routerLink] ="['curso', idCurso.value]">Curso com Id</a></li-->
      <!--Property binding recebendo um array de parametros ( nome da rota e parametros (id curso capturado no input logo a baixo))-->
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <!--p>Entre com o Id do Curso</p>
  <input #idCurso-->
  <!--idCurso é uma variável local criada para receber o dado inputado pelo usuário-->
  <!--{{ idCurso.value }} para mostrar o valor do curso-->
  <router-outlet></router-outlet>
</div>
